In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder

In [9]:
df = pd.read_csv('C:\\Users\\user\\Downloads\\dataset\\spam.csv')
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [10]:
labelencoder = LabelEncoder()
df['Category'] = labelencoder.fit_transform(df['Category'])
df

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [11]:
x = df['Message']
y = df['Category']
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int32

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [15]:
print(x_train_count)

  (0, 5687)	1
  (0, 6888)	3
  (0, 7474)	1
  (0, 258)	1
  (0, 7396)	1
  (0, 7437)	1
  (0, 7471)	1
  (0, 6773)	1
  (0, 354)	1
  (0, 2805)	1
  (0, 7555)	1
  (0, 2106)	1
  (0, 1271)	1
  (0, 3364)	1
  (0, 5980)	1
  (0, 6460)	1
  (0, 694)	1
  (0, 2568)	1
  (0, 5999)	1
  (1, 7471)	1
  (1, 3369)	1
  (1, 6304)	1
  (1, 4854)	1
  (1, 4976)	1
  (1, 3603)	1
  :	:
  (4452, 7535)	1
  (4452, 2502)	1
  (4452, 7519)	1
  (4453, 1606)	1
  (4453, 6303)	1
  (4453, 4129)	1
  (4453, 3997)	1
  (4454, 2984)	1
  (4454, 3351)	1
  (4454, 5584)	1
  (4454, 5321)	1
  (4454, 6309)	1
  (4454, 6308)	1
  (4455, 6904)	1
  (4455, 4812)	1
  (4455, 3812)	1
  (4455, 5996)	1
  (4456, 3712)	1
  (4456, 3841)	1
  (4456, 2294)	1
  (4456, 3339)	1
  (4456, 5895)	1
  (4456, 6666)	1
  (4456, 6268)	1
  (4456, 4660)	1

In [18]:
clf = MultinomialNB()
clf.fit(x_train_count,y_train)

MultinomialNB()

In [19]:
x_test_count = v.transform(x_test)
clf.score(x_test_count,y_test)

0.9919282511210762

In [20]:
emails = ['Hey NoName, can we get together to watch footbal game tomorrow?',
         'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!']
emails_count = v.transform(emails)
clf.predict(emails_count)

array([0, 1])