In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\user\\Downloads\\dataset\\Social_Network_Ads.csv')
df.head(10)

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0            19000          0
1  15810944    Male  35.0            20000          0
2  15668575  Female  26.0            43000          0
3  15603246  Female  27.0            57000          0
4  15804002    Male  19.0            76000          0
5  15728773    Male  27.0            58000          0
6  15598044  Female  27.0            84000          0
7  15694829  Female  32.0           150000          1
8  15600575    Male  25.0            33000          0
9  15727311  Female  35.0            65000          0

In [3]:
df.describe

<bound method NDFrame.describe of       User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0            19000          0
1    15810944    Male  35.0            20000          0
2    15668575  Female  26.0            43000          0
3    15603246  Female  27.0            57000          0
4    15804002    Male  19.0            76000          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0            41000          1
396  15706071    Male  51.0            23000          1
397  15654296  Female  50.0            20000          1
398  15755018    Male  36.0            33000          0
399  15594041  Female  49.0            36000          1

[400 rows x 5 columns]>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              395 non-null    float64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 15.8+ KB

In [5]:
Age_m = df['Age'].mean()
df['Age']=df['Age'].replace(np.nan,int(Age_m))

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [7]:
df.head(10)

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510       1  19.0            19000          0
1  15810944       1  35.0            20000          0
2  15668575       0  26.0            43000          0
3  15603246       0  27.0            57000          0
4  15804002       1  19.0            76000          0
5  15728773       1  27.0            58000          0
6  15598044       0  27.0            84000          0
7  15694829       0  32.0           150000          1
8  15600575       1  25.0            33000          0
9  15727311       0  35.0            65000          0

In [9]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [10]:
print(y)

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 1 1 0 0 0 1 0 0 0 1 0 1
 1 1 0 0 1 1 0 1 1 0 1 1 0 1 0 0 0 1 1 0 1 1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1
 1 0 1 1 0 1 1 0 0 1 0 0 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 0 1 0 1 1 1 1 0 0 0
 1 1 0 1 1 1 1 1 0 0 0 1 1 0 0 1 0 1 0 1 1 0 1 0 1 1 0 1 1 0 0 0 1 1 0 1 0
 0 1 0 1 0 0 1 1 0 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1 0 1 0 1 1 1 0 1 1 1 1 0 1
 1 1 0 1 0 1 0 0 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1]

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [13]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [14]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(x_train, y_train)

SVC(kernel='linear', random_state=0)

In [15]:
y_pred = classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]]

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[54  4]
 [11 11]]

0.8125

In [17]:
print(classifier.score(x_test,y_test))

0.8125